body, html {
    font-size: 100%;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    gap: 3vw;
    align-content: center;
    justify-content: center;
    background-color: #000000;
    padding-block: 1rem;
}

.box {
    width: clamp(2rem, 16vw, 5rem);
    height: clamp(2rem, 16vw, 5rem);
    background-color: #ffffff1b;
    backdrop-filter: blur(15px);
    transition: background-color 1s ease-in-out;
}

.box:hover {
    background-color: ;
}
